# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# PyTorch artifacts
*.pt
*.pth

# Dataset (Oxford Flowers 102)
flowers-102/
data/flowers-102/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

# Logs
*.log
